name: Release node tsconfig

on: workflow_dispatch

permissions:
  contents: write
  id-token: write

jobs:
  release:
    uses: aspithost/actions/.github/workflows/release.yml@v0
    permissions:
      contents: write
      id-token: write
    with:
      package-path: packages/node
