name: Release base tsconfig

on: workflow_dispatch

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Release
        uses: ./.github/actions/release
        with:
          package-path: packages/base
          npm-token: ${{ secrets.NPM_TOKEN }}
